@import "../../../common/style/vars";

page{
  height: 100%;
}

.account__page{
  width: 100%;
  height: 100%;
}

.account__bg{
  width: 100%;
  height: 165rpx;
}

.account__img{
  height: 100%;
  text-align: center;
}
