@import "../../../common/style/vars";

page{
  height: 100%;
}

.container{
}

.pass_lable{
  display: inline-block;
}

.pass_input{
  display: inline-block;
}

.account__myButton{
  width: 90%;
  margin-top: 20px;
}
